<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <!-- Knowledge base home header option-->
                <header class="card card-waves">
                    <div class="card-body px-5 pt-5 pb-0">
                        <router-outlet></router-outlet>
                    </div>
                </header>
            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>