<div class="container text-center text-lg-end mb-4">
    <span>Descargar Ficha Ocupacional</span>
    <br>
    <button class="btn">
        <img src="../../../../assets/assets/img/iconos/adobe-reader_opt.png" alt="" srcset="" style="cursor: pointer;">
    </button>
</div>
<div class="card invoice mb-5">
    <div class="card-header p-4 p-md-5 border-bottom-0 bg-gradient-primary-to-secondary text-white-50">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-auto mb-5 mb-lg-0 text-center text-lg-start">
                <!-- Invoice branding-->
                <img class="invoice-brand-img rounded-circle mb-4" src="../../../../assets/assets/img/demo/demo-logo.svg" alt="" />
                <div class="h2 text-white mb-0">{{empleado.nombre}}</div>
                {{empleado.direccion}}
                <br/>
                {{empleado.email}}
            </div>
            <div class="col-12 col-lg-auto text-center text-lg-end">
                <!-- Invoice details-->
                <div class="h3 text-white">Datos Generales</div>
                Fecha Nacimiento: {{empleado.fechaNacimiento | date: 'd MMMM, y'}}
                <br />
                Inss: {{empleado.inss}}
                <br/>
                Cedúla: {{empleado.cedula}}
                <br/>
                Celular: {{empleado.celular}}
                <br/>
                Estado Civil: {{empleado.estadoCivil}}
            </div>
        </div>
    </div>
    <div class="card-body p-4 p-md-5">
        <!-- Invoice table-->
        <div class="table-responsive">
            <table class="table table-borderless mb-0">
                <thead >
                    <div class="h5 mb-0 fw-500 mt-3">Puesto Laboral</div>
                    <hr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="fw-bold">Area Laboral</div>
                            <div class="small text-muted">{{empleado.area.nombre}}</div>
                        </td>
                        <!-- <td class="text-end fw-bold"></td> -->
                        <!-- <td class="text-end fw-bold"></td> -->
                        <td>
                            <div class="fw-bold">Cargo</div>
                            <div class="small text-muted">{{empleado.cargo}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="fw-bold">Nivel Academico</div>
                            <div class="small text-muted">{{empleado.estudios}}</div>
                        </td>
                        <!-- <td class="text-end fw-bold"></td> -->
                        <!-- <td class="text-end fw-bold"></td> -->
                        <td>
                            <div class="fw-bold">Fecha de Inicio</div>
                            <div class="small text-muted">{{empleado.fechaInicio | date: 'd MMMM, y'}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-borderless mb-0">
                <thead >
                    <div class="h5 mb-0 fw-500 mt-3">Hijos</div>
                    <hr>
                    <tr>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Ocupación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of empleado.hijos">
                        <td>
                            <div class="fw-bold small">{{item.nombre}}</div>
                        </td>
                        <td>
                            <div class="fw-bold small">{{item.edad}}</div>
                        </td>
                        <td>
                            <div class="fw-bold small">{{item.ocupacion}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-borderless mb-0">
                <thead >
                    <div class="h5 mb-0 fw-500 mt-3">Experiencia Laboral</div>
                    <hr>
                    <tr>
                        <th scope="col">Empresa</th>
                        <th scope="col">Antiguedad</th>
                        <th scope="col">Cargo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of empleado.laboral">
                        <td>
                            <div class="fw-bold small">{{item.empresa}}</div>
                        </td>
                        <td>
                            <div class="fw-bold small">{{item.antiguedad}}</div>
                        </td>
                        <td>
                            <div class="fw-bold small">{{item.cargo}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-borderless mb-0">
                <thead >
                    <div class="h5 mb-0 fw-500 mt-3">Referencia Personales</div>
                    <hr>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Celular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of empleado.referencias">
                        <td>
                            <div class="fw-bold small">{{item.nombre}}</div>
                        </td>
                        <td>
                            <div class="fw-bold small">{{item.apellido}}</div>
                        </td>
                        <td>
                            <div class="fw-bold small">{{item.celular}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>