<div class="">
  <h1><small> Listado de Empleados </small></h1>
  <hr style="color: blue;">
</div>
<button class="btn btn-success mt-3 mb-5 btn-block" style="float: right;" routerLink="/dashboard/empleado"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Nuevo Empleado</button>
<mat-form-field appearance="standard">
    <mat-label><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="inss">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Inss </th>
      <td mat-cell *matCellDef="let element"> {{element.inss}} </td>
    </ng-container>

    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
      <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
    </ng-container>

    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </th>
      <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
    </ng-container>

    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Area Laboral </th>
      <td mat-cell *matCellDef="let element"> {{element.area.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="tools">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> tools </th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-primary" style="height: 10%;"><i class="fas fa-pen"></i></button>&nbsp; 
        <button class="btn btn-success"><i class="far fa-eye"></i></button>&nbsp; 
        <button class="btn btn-danger" style="height: 10%;" (click)="deleteEmpleado(element.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp; 
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator   [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
</mat-paginator>
