<main>
    <header class="page-header page-header-dark pb-10">
        <div class="container">
            <h1><small> Empleados </small></h1>
            <hr style="color: blue;">
        </div>
        <div class="container mt-5">
            <form autocomplete="off" [formGroup]="formEmpleado" (ngSubmit)="guardar()">
                <mat-stepper orientation="vertical">
                <!-- Datos Generales -->
                <mat-step>
                  <ng-template matStepLabel>DATOS GENERALES</ng-template>
                  <ng-template matStepContent>
          
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Nombre Completo" formControlName="nombre" [class.is-invalid]="nombreNoValido" [class.is-valid]="nombreValido">
                          <small *ngIf="nombreNoValido" class="text-danger">Digite Nombre</small>
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Dirección" formControlName="direccion" [class.is-invalid]="direccionNoValido" [class.is-valid]="direccionValido">
                          <small *ngIf="direccionNoValido" class="text-danger">Digite Dirección</small>
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="date" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Fecha de Nacimiento" placeholder="Fecha Nacimiento" formControlName="fechaNacimiento">
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Cedula" formControlName="cedula">
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Estado Civil" formControlName="estadoCivil">
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" maxlength="8" placeholder="Celular" formControlName="celular">
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Inss" maxlength="8" formControlName="inss">
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Correo Electronico" maxlength="8" formControlName="email">
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Contacto" maxlength="8" formControlName="contacto">
                      </div>
                  </div>
                  <button class="btn btn-info next" matStepperNext>Siguiente</button>
                  </ng-template>
                </mat-step>
                <!-- Puesto -->
                <mat-step>
                  <ng-template matStepLabel>PUESTO</ng-template>
                  <ng-template matStepContent>
          
                  <div class="form-group row mt-4">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Area" maxlength="25" formControlName="area">
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Cargo" maxlength="25" formControlName="cargo">
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Nivel Academico" maxlength="25" formControlName="estudios">
                      </div>
                      <div class="col">
                          <input type="date" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Fecha de Inicio" placeholder="Fecha Inicio" formControlName="fechaInicio">
                      </div>
                  </div>
                  <div class="mt-4">
                        <button class="mr-2" mat-flat-button color="accent" matStepperPrevious>Atras</button>
                        <button class="separacion" mat-flat-button color="primary" matStepperNext>Siguiente</button>        
                  </div>
                  </ng-template>
                </mat-step>
                <!-- HIJOS -->
                <mat-step>
                  <ng-template matStepLabel>HIJOS</ng-template>
                  <hr>
                  <div class="form-group row">
                    <div class="col">
                        <div formArrayName="hijos" *ngFor="let t of hijos.controls; let i = index">
                            <div class="row form-group" [formGroupName]="i">
                                <div class="col-md-4">
                                    <input formControlName='nombre' id="{{'nombre'+i}}" type="text" class="form-control mb-4" placeholder="Nombre Completo" />
                                </div>
          
                                <div class="col-md-3">
                                    <input formControlName='edad' id="{{'edad' + i}}" type="number" class="form-control mb-4" placeholder="Edad" />
                                </div>
          
                                <div class="col-md-3">
                                    <input formControlName='ocupacion' id="{{'ocupacion' + i}}" class="form-control mb-4" placeholder="Ocupación" />
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-danger" (click)='borrarHijos(i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                              <div class="col-md-3">
                              </div>
                            </div>
                        </div>
                        <button class="btn btn-success mt-3 mb-5 btn-block" style="float: right;" type="button" (click)="agregarHijos()"> + Agregar Hijo</button>
                    </div>
                  </div>
                  <div class="mt-4">
                    <button class="mr-2" mat-flat-button color="accent" matStepperPrevious>Atras</button>
                    <button class="separacion" mat-flat-button color="primary" matStepperNext>Siguiente</button>        
                  </div>
                </mat-step>
                <!-- EXPERIENCIA LABORAL -->
                <mat-step>
                  <ng-template matStepLabel>EXPERIENCIA LABORAL</ng-template>
          
                  <hr>
                  <div class="form-group row">
                      <div class="col">
                          <div formArrayName="laboral" *ngFor="let t of laboral.controls; let i = index">
                              <div class="row form-group" [formGroupName]="i">
                                  <div class="col-md-4">
                                      <input formControlName='empresa' id="{{'empresa'+i}}" type="text" class="form-control mb-4" placeholder="Empresa" />
                                  </div>
          
                                  <div class="col-md-3">
                                      <input formControlName='antiguedad' id="{{'antiguedad' + i}}" type="number" class="form-control mb-4" placeholder="Antigüedad" />
                                  </div>
          
                                  <div class="col-md-3">
                                      <input formControlName='cargo' id="{{'cargo' + i}}" class="form-control mb-4" placeholder="Cargo" />
                                  </div>
                                  <div class="col-md-1">
                                      <button class="btn btn-danger" (click)='borrarLaboral(i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                  </div>
                                <div class="col-md-3">
                                </div>
                              </div>
                          </div>
                          <button class="btn btn-success mt-3 mb-5 btn-block" type="button" (click)="agregarLaboral()" style="float: right;"> + Agregar Experiencia Laboral</button>
                      </div>
                  </div>
                  <div class="mt-4">
                    <button class="mr-2" mat-flat-button color="accent" matStepperPrevious>Atras</button>
                    <button class="separacion" mat-flat-button color="primary" matStepperNext>Siguiente</button>        
                  </div>
                </mat-step>
                <!-- REFERENCIAS PERSONALES -->
                <mat-step>
                  <ng-template matStepLabel>REFERENCIAS PERSONALES</ng-template>
                  <hr>
                  <div class="form-group row">
                      <div class="col">
                          <div formArrayName="referencia" *ngFor="let t of referencia.controls; let i = index">
                              <div class="row form-group" [formGroupName]="i">
                                  <div class="col-md-4">
                                      <input formControlName='nombre' id="{{'nombre'+i}}" type="text" class="form-control mb-4" placeholder="Nombre" />
                                  </div>
          
                                  <div class="col-md-3">
                                      <input formControlName='apellido' id="{{'apellido' + i}}" class="form-control mb-4" placeholder="Apellido" />
                                  </div>
          
                                  <div class="col-md-3">
                                      <input formControlName='celular' id="{{'celular' + i}}" type="number" class="form-control mb-4" placeholder="Celular" />
                                  </div>
                                  <div class="col-md-1">
                                      <button class="btn btn-danger" (click)='borrarReferencia(i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                  </div>
                                <div class="col-md-3">
                                </div>
                              </div>
                          </div>
                          <button class="btn btn-success mt-3 mb-5 btn-block" type="button" (click)="agregarReferencia()" style="float: right;"> + Referencia Personales</button>
                      </div>
                  </div>
                </mat-step>
              </mat-stepper>
              <button type="submit" class="btn btn-primary btn-block btn-block mt-4" style="margin-left: 2rem; letter-spacing: 2px;">Guardar Empleados </button>
            </form>
          </div>
    </header>
</main>

<pre>
    {{formEmpleado.value | json}}
  </pre>