<main>
    <header class="page-header page-header-dark pb-10">
        <div class="container">
            <h1 *ngIf="!esEditable"><small> Nuevo Empleado </small></h1>
            <h1 *ngIf="esEditable"><small> Actualizar Empleado </small></h1>
            <hr style="color: blue;">
        </div>
        <div class="container mt-5">
            <form autocomplete="off" [formGroup]="formEmpleado">
                <mat-stepper orientation="vertical">
                <!-- Datos Generales -->
                <mat-step>
                  <ng-template matStepLabel>DATOS GENERALES</ng-template>
                  <ng-template matStepContent>
          
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Nombre Completo" maxlength="100" placeholder="Nombre Completo" formControlName="nombre" [class.is-invalid]="nombreNoValido" [class.is-valid]="nombreValido">
                          <small *ngIf="nombreNoValido" class="text-danger">Digite Nombre</small>
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Dirección" maxlength="250" placeholder="Dirección" formControlName="direccion" [class.is-invalid]="direccionNoValido" [class.is-valid]="direccionValido">
                          <small *ngIf="direccionNoValido" class="text-danger">Digite Dirección</small>
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="date" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Fecha de Nacimiento" placeholder="Fecha Nacimiento" formControlName="fechaNacimiento" [class.is-invalid]="fechaNacimientoNoValido" [class.is-valid]="fechaNacimientoValido">
                          <small *ngIf="fechaNacimientoNoValido" class="text-danger">Seleccione Fecha de Nacimiento</small>
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Cedula" maxlength="16" placeholder="Cedula" [class.is-valid]="cedulaValido" [class.is-invalid]="cedulaNoValido"  formControlName="cedula">
                          <small *ngIf="cedulaNoValido" class="text-danger">Digite su Cedula</small>
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Estado Civil" placeholder="Estado Civil" formControlName="estadoCivil" [class.is-valid]="estadoCivilValido" [class.is-invalid]="estadoCivilNoValido">
                          <small *ngIf="estadoCivilNoValido" class="text-danger">Seleccione su estado civil</small>
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Celular" maxlength="8" placeholder="Celular" formControlName="celular" [class.is-valid]="celularValido" [class.is-invalid]="celularNoValido">
                          <small *ngIf="celularNoValido" class="text-danger">Digite su Celular</small>
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Inss" placeholder="Inss" maxlength="8" formControlName="inss">
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Correo Electronico" placeholder="Correo Electronico" maxlength="50" formControlName="email" [class.is-valid]="emailValido" [class.is-invalid]="emailNoValido">
                          <small *ngIf="emailNoValido" class="text-danger">Digite su email</small>
                      </div>
                  </div>
                  <div class="form-group row mt-2">
                      <div class="col">
                          <input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Contacto" placeholder="Contacto" maxlength="100" formControlName="contacto" [class.is-valid]="contactoValido" [class.is-invalid]="contactoNoValido">
                          <small *ngIf="contactoNoValido" class="text-danger">Digite su contacto de emergencia</small>
                      </div>
                  </div>
                  <button type class="btn btn-info next" matStepperNext>Siguiente</button>
                  </ng-template>
                </mat-step>
                <!-- Puesto -->
                <mat-step>
                  <ng-template matStepLabel>PUESTO LABORAL</ng-template>
                  <ng-template matStepContent>
                    <div class="form-group row mt-4">
                      <div class="col">
                        <small style="color: black;">Area Laboral:</small>
                        <select class="form-select" formControlName="area" aria-label="Area Laboral" data-bs-toggle="tooltip" data-bs-placement="top" title="Area Laboral">
                            <option *ngFor="let item of categoriaArea" [value]="item.id">{{item.nombre}}</option>
                        </select>
                      </div>
                      <div class="col">
                          <small style="color: black;">Cargo:</small>
                          <input type="text" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Cargo" placeholder="Cargo" maxlength="25" formControlName="cargo" [class.is-valid]="cargoValido" [class.is-invalid]="cargoNoValido">
                          <small *ngIf="cargoNoValido" class="text-danger">Digite su cargo</small>
                      </div>
                    </div>
                    <div class="form-group row mt-2">
                      <div class="col">
                        <small style="color: black;">Nivel Academico:</small>
                        <select class="form-select" formControlName="estudios" aria-label="Nivel Academico" data-bs-toggle="tooltip" data-bs-placement="top" title="Nivel Academico">
                            <option *ngFor="let item of nivelAcademico" [value]="item">{{item}}</option>
                        </select>
                      </div>
                      <div class="col">
                          <small style="color: black;">Fecha Inicio:</small>
                          <input type="date" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Fecha de Inicio" placeholder="Fecha Inicio" formControlName="fechaInicio">
                      </div>
                    </div>
                    <div class="mt-4">
                          <button class="mr-2" mat-flat-button color="accent" matStepperPrevious>Atras</button>
                          <button class="separacion" mat-flat-button color="primary" matStepperNext>Siguiente</button>
                    </div>
                  </ng-template>
                </mat-step>
                <!-- HIJOS -->
                <mat-step>
                  <ng-template matStepLabel>HIJOS</ng-template>
                  <hr>
                  <div class="form-group row">
                    <div class="col">
                        <div formArrayName="hijos" *ngFor="let t of hijos.controls; let i = index">
                            <div class="row form-group" [formGroupName]="i">
                                <div class="col-md-4">
                                    <input formControlName='nombre' data-bs-toggle="tooltip" data-bs-placement="top" title="Nombre"  id="{{'nombre'+i}}" type="text" class="form-control mb-4" placeholder="Nombre Completo" />
                                </div>
          
                                <div class="col-md-3">
                                    <input formControlName='edad' data-bs-toggle="tooltip" data-bs-placement="top" title="Edad"  id="{{'edad' + i}}" type="number" class="form-control mb-4" placeholder="Edad" />
                                </div>
          
                                <div class="col-md-3">
                                    <input formControlName='ocupacion' data-bs-toggle="tooltip" data-bs-placement="top" title="Ocupación"  id="{{'ocupacion' + i}}" class="form-control mb-4" placeholder="Ocupación" />
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-danger" (click)='borrarHijos(i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                              <div class="col-md-3">
                              </div>
                            </div>
                        </div>
                        <button class="btn btn-success mt-3 mb-5 btn-block" style="float: right;" type="button" (click)="agregarHijos()"> <i class="fas fa-plus"></i>&nbsp;Agregar Hijo</button>
                    </div>
                  </div>
                  <div class="mt-4">
                    <button class="mr-2" mat-flat-button color="accent" matStepperPrevious>Atras</button>
                    <button class="separacion" mat-flat-button color="primary" matStepperNext>Siguiente</button>
                  </div>
                </mat-step>
                <!-- EXPERIENCIA LABORAL -->
                <mat-step>
                  <ng-template matStepLabel>EXPERIENCIA LABORAL</ng-template>
          
                  <hr>
                  <div class="form-group row">
                      <div class="col">
                          <div formArrayName="laboral" *ngFor="let t of laboral.controls; let i = index">
                              <div class="row form-group" [formGroupName]="i">
                                  <div class="col-md-4">
                                      <input formControlName='empresa' data-bs-toggle="tooltip" data-bs-placement="top" title="Empresa" id="{{'empresa'+i}}" type="text" class="form-control mb-4" placeholder="Empresa" />
                                  </div>
          
                                  <div class="col-md-3">
                                      <input formControlName='antiguedad' data-bs-toggle="tooltip" data-bs-placement="top" title="Antiguedad" id="{{'antiguedad' + i}}" type="number" class="form-control mb-4" placeholder="Antigüedad" />
                                  </div>
          
                                  <div class="col-md-3">
                                      <input formControlName='cargo' data-bs-toggle="tooltip" data-bs-placement="top" title="Cargo" id="{{'cargo' + i}}" class="form-control mb-4" placeholder="Cargo" />
                                  </div>
                                  <div class="col-md-1">
                                      <button class="btn btn-danger" (click)='borrarLaboral(i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                  </div>
                                <div class="col-md-3">
                                </div>
                              </div>
                          </div>
                          <button class="btn btn-success mt-3 mb-5 btn-block" type="button" (click)="agregarLaboral()" style="float: right;"><i class="fas fa-plus"></i>&nbsp;Agregar Experiencia</button>
                      </div>
                  </div>
                  <div class="mt-4">
                    <button class="mr-2" mat-flat-button color="accent" matStepperPrevious>Atras</button>
                    <button class="separacion" mat-flat-button color="primary" matStepperNext>Siguiente</button>
                  </div>
                </mat-step>
                <!-- REFERENCIAS PERSONALES -->
                <mat-step>
                  <ng-template matStepLabel>REFERENCIAS PERSONALES</ng-template>
                  <hr>
                  <div class="form-group row">
                      <div class="col">
                          <div formArrayName="referencia" *ngFor="let t of referencia.controls; let i = index">
                              <div class="row form-group" [formGroupName]="i">
                                  <div class="col-md-4">
                                      <input formControlName='nombre' data-bs-toggle="tooltip" data-bs-placement="top" title="Nombre" id="{{'nombre'+i}}" type="text" class="form-control mb-4" placeholder="Nombre" />
                                  </div>
          
                                  <div class="col-md-3">
                                      <input formControlName='apellido' data-bs-toggle="tooltip" data-bs-placement="top" title="Apellido" id="{{'apellido' + i}}" class="form-control mb-4" placeholder="Apellido" />
                                  </div>
          
                                  <div class="col-md-3">
                                      <input formControlName='celular' data-bs-toggle="tooltip" data-bs-placement="top" title="Celular" id="{{'celular' + i}}" type="text" class="form-control mb-4" placeholder="Celular" />
                                  </div>
                                  <div class="col-md-1">
                                      <button class="btn btn-danger" (click)='borrarReferencia(i)'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                  </div>
                                <div class="col-md-3">
                                </div>
                              </div>
                          </div>
                          <button class="btn btn-success mt-3 mb-5 btn-block" type="button" (click)="agregarReferencia()" style="float: right;"> <i class="fas fa-plus"></i>&nbsp;Agregar Referencia</button>
                      </div>
                  </div>
                </mat-step>
              </mat-stepper>
              <button *ngIf="!esEditable" type="submit" class="btn btn-primary mt-4" style="margin-left: 2rem; letter-spacing: 2px;" (click)="guardarEmpleado()"><i class="fas fa-save"></i>&nbsp;Guardar</button>
              <button *ngIf="esEditable" type="submit" class="btn btn-primary mt-4" style="margin-left: 2rem; letter-spacing: 2px;" (click)="actualizarEmpleado()"><i class="fab fa-telegram-plane"></i>&nbsp;Actualizar</button>
              <button class="btn btn-primary mt-4" style="margin-left: 2rem; letter-spacing: 2px;" routerLink="/dashboard/listado"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp; Regresar</button>
            </form>
          </div>
    </header>
</main>